<style>
  .wp-container-1>.alignleft {
    float: left;
    margin-inline-start: 0;
    margin-inline-end: 2em;
  }

  .wp-container-1>.alignright {
    float: right;
    margin-inline-start: 2em;
    margin-inline-end: 0;
  }

  .wp-container-1>.aligncenter {
    margin-left: auto !important;
    margin-right: auto !important;
  }
</style>
<style>
  .wp-block-gallery-1 {
    --wp--style--unstable-gallery-gap: var(--wp--style--gallery-gap-default, var(--gallery-block--gutter-size, var(--wp--style--block-gap, 0.5em)));
    gap: var(--wp--style--gallery-gap-default, var(--gallery-block--gutter-size, var(--wp--style--block-gap, 0.5em)))
  }
</style>
<style>
  .wp-container-2 {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    align-items: center;
  }

  .wp-container-2>* {
    margin: 0;
  }
</style>
<style>
  .wp-container-3>.alignleft {
    float: left;
    margin-inline-start: 0;
    margin-inline-end: 2em;
  }

  .wp-container-3>.alignright {
    float: right;
    margin-inline-start: 2em;
    margin-inline-end: 0;
  }

  .wp-container-3>.aligncenter {
    margin-left: auto !important;
    margin-right: auto !important;
  }
</style>
<style>
  .wp-container-4>.alignleft {
    float: left;
    margin-inline-start: 0;
    margin-inline-end: 2em;
  }

  .wp-container-4>.alignright {
    float: right;
    margin-inline-start: 2em;
    margin-inline-end: 0;
  }

  .wp-container-4>.aligncenter {
    margin-left: auto !important;
    margin-right: auto !important;
  }
</style>
<style>
  .wp-container-5>.alignleft {
    float: left;
    margin-inline-start: 0;
    margin-inline-end: 2em;
  }

  .wp-container-5>.alignright {
    float: right;
    margin-inline-start: 2em;
    margin-inline-end: 0;
  }

  .wp-container-5>.aligncenter {
    margin-left: auto !important;
    margin-right: auto !important;
  }
</style>
<style>
  .wp-container-6>.alignleft {
    float: left;
    margin-inline-start: 0;
    margin-inline-end: 2em;
  }

  .wp-container-6>.alignright {
    float: right;
    margin-inline-start: 2em;
    margin-inline-end: 0;
  }

  .wp-container-6>.aligncenter {
    margin-left: auto !important;
    margin-right: auto !important;
  }
</style>
<style>
  .wp-container-7>.alignleft {
    float: left;
    margin-inline-start: 0;
    margin-inline-end: 2em;
  }

  .wp-container-7>.alignright {
    float: right;
    margin-inline-start: 2em;
    margin-inline-end: 0;
  }

  .wp-container-7>.aligncenter {
    margin-left: auto !important;
    margin-right: auto !important;
  }
</style>