<meta charset='UTF-8'>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ title }}</title>

{% include "parts/head_inlinescripts.html" %}

{% include "parts/head_inlinecss.html" %}

<link rel='stylesheet' id='wp-block-library-css' href='/css/block-library/style.minf049.css?ver=6.0' type='text/css' media='all' />
<link rel='stylesheet' id='wpforms-gutenberg-form-selector-css' href='/css/wpforms-full.mine945.css?ver=1.7.4.2' type='text/css' media='all' />
<link rel='stylesheet' id='hestia_fonts-css' href='https://fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C500%2C700%7CRoboto+Slab%3A400%2C700&amp;subset=latin%2Clatin-ext&amp;ver=3.0.22' type='text/css' media='all' />

<script type='text/javascript' src='/js/jquery.minaf6c.js?ver=3.6.0' id='jquery-core-js'></script>
<script type='text/javascript' src='/js/jquery-migrate.mind617.js?ver=3.3.2' id='jquery-migrate-js'></script>

<link rel="icon" href="assets/images/cropped-Artboard-13.png" sizes="32x32" />
<link rel="icon" href="assets/images/cropped-Artboard-13.png" sizes="192x192" />
<link rel="apple-touch-icon" href="assets/images/cropped-Artboard-13.png" />