<!DOCTYPE html>
<html lang="en-US">
  <head>
    {% include "parts/head.html" %}
  </head>
  <body class="page-template-default page page-parent blog-post header-layout-default">
    <div class="wrapper  default ">
      <header class="header ">
        <div style="display: none"></div>
        <nav class="navbar navbar-default navbar-fixed-top  hestia_left navbar-not-transparent">
          <div class="container">
            <div class="navbar-header">
              <div class="title-logo-wrapper">
                <a class="navbar-brand" href="../index.html" title="">
                  <p></p>
                </a>
              </div>
              <div class="navbar-toggle-wrapper">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="sr-only">Toggle Navigation</span>
                </button>
              </div>
            </div>
            <div id="main-navigation" class="collapse navbar-collapse">
              <ul id="menu-menu-1" class="nav navbar-nav">
                <li id="menu-item-605" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-605">
                  <a title="HOME" href="../index.html">HOME</a>
                </li>
                <li id="menu-item-8" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-8 dropdown">
                  <a title="ABOUT US" href="#" class="dropdown-toggle">ABOUT US <span class="caret-wrap">
                      <span class="caret">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                          <path d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path>
                        </svg>
                      </span>
                    </span>
                  </a>
                  <ul role="menu" class="dropdown-menu">
                    <li id="menu-item-1176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1176">
                      <a title="Jakarta UNESCO City of Literature" href="jakarta-unesco-city-of-literature/index.html">Jakarta UNESCO City of Literature</a>
                    </li>
                    <li id="menu-item-1175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1175">
                      <a title="Contact" href="contact/index.html">Contact</a>
                    </li>
                  </ul>
                </li>
                <li id="menu-item-9" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-9 dropdown">
                  <a title="ABOUT JAKARTA" href="#" class="dropdown-toggle">ABOUT JAKARTA <span class="caret-wrap">
                      <span class="caret">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                          <path d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path>
                        </svg>
                      </span>
                    </span>
                  </a>
                  <ul role="menu" class="dropdown-menu">
                    <li id="menu-item-481" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-481">
                      <a title="History" href="../about-jakarta/history/index.html">History</a>
                    </li>
                    <li id="menu-item-485" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-485">
                      <a title="Libraries" href="../about-jakarta/libraries/index.html">Libraries</a>
                    </li>
                    <li id="menu-item-473" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-473">
                      <a title="Literary Communities" href="../about-jakarta/literary-communities/index.html">Literary Communities</a>
                    </li>
                    <li id="menu-item-469" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-469">
                      <a title="Creative Centers" href="../about-jakarta/creative-centers/index.html">Creative Centers</a>
                    </li>
                    <li id="menu-item-477" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-477">
                      <a title="Cultural Centers" href="../about-jakarta/cultural-center/index.html">Cultural Centers</a>
                    </li>
                  </ul>
                </li>
                <li id="menu-item-10" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10 dropdown">
                  <a title="PROGRAM" href="#" class="dropdown-toggle">PROGRAM <span class="caret-wrap">
                      <span class="caret">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                          <path d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path>
                        </svg>
                      </span>
                    </span>
                  </a>
                  <ul role="menu" class="dropdown-menu">
                    <li id="menu-item-280" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-280">
                      <a title="Program" href="../category/program/index.html">Program</a>
                    </li>
                    <li id="menu-item-497" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-497">
                      <a title="Other CoL Program" href="../category/other-col-program/index.html">Other CoL Program</a>
                    </li>
                    <li id="menu-item-304" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-304">
                      <a title="Writers" href="../category/writers/index.html">Writers</a>
                    </li>
                  </ul>
                </li>
                <li id="menu-item-130" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-130 dropdown">
                  <a title="CALENDER OF EVENTS" href="#" class="dropdown-toggle">CALENDER OF EVENTS <span class="caret-wrap">
                      <span class="caret">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                          <path d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path>
                        </svg>
                      </span>
                    </span>
                  </a>
                  <ul role="menu" class="dropdown-menu">
                    <li id="menu-item-292" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-292">
                      <a title="Jakarta Events" href="../category/jakarta-events/index.html">Jakarta Events</a>
                    </li>
                    <li id="menu-item-284" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-284">
                      <a title="Indonesia Events" href="../category/indonesia-events/index.html">Indonesia Events</a>
                    </li>
                    <li id="menu-item-288" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-288">
                      <a title="International Events" href="../category/international-events/index.html">International Events</a>
                    </li>
                  </ul>
                </li>
                <li id="menu-item-131" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-131 dropdown">
                  <a title="LINKS" href="#" class="dropdown-toggle">LINKS <span class="caret-wrap">
                      <span class="caret">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                          <path d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path>
                        </svg>
                      </span>
                    </span>
                  </a>
                  <ul role="menu" class="dropdown-menu">
                    <li id="menu-item-1174" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1174">
                      <a title="Partners" href="../links/partners/index.html">Partners</a>
                    </li>
                    <li id="menu-item-1173" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1173">
                      <a title="Links about UNESCO Creative Cities" href="../links/links-about-unesco-creative-cities/index.html">Links about UNESCO Creative Cities</a>
                    </li>
                  </ul>
                </li>
                <li id="menu-item-132" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-132 dropdown">
                  <a title="ARCHIVE" href="#" class="dropdown-toggle">ARCHIVE <span class="caret-wrap">
                      <span class="caret">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                          <path d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path>
                        </svg>
                      </span>
                    </span>
                  </a>
                  <ul role="menu" class="dropdown-menu">
                    <li id="menu-item-276" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-276">
                      <a title="2022" href="../category/2022/index.html">2022</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <div id="primary" class="boxed-layout-header page-header header-small" data-parallax="active">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h1 class="hestia-title ">Contact Us</h1>
            </div>
          </div>
        </div>
        <div class="header-filter header-filter-gradient"></div>
      </div>
      <div class="main  main-raised ">
        <div class="blog-post ">
          <div class="container">
            <article id="post-632" class="section section-text">
              <div class="row">
                <div class="col-md-8 page-content-wrap  col-md-offset-2">
                  <p style="font-size:24px">
                    <strong>Jakarta City of Literature Editorial Board</strong>
                    <br>
                    <br>
                  </p>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d991.6550157991883!2d106.82784212918038!3d-6.181578699720302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f42de87813ef%3A0xc5bd9cad3397da3c!2sBalai%20Kota%20DKI%20Jakarta!5e0!3m2!1sid!2sid!4v1655689705425!5m2!1sid!2sid" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  <p>
                    <strong>Jakarta City Hall Building <br>
                    </strong>Jl. Medan Merdeka Selatan No. 8-9 <br>Central Jakarta &#8211; Indonesia
                  </p>
                  <p>email: <a href="mailto:cityofliterature@jakarta.go.id">cityofliterature@jakarta.go.id</a>
                    <br>
                    <strong>
                      <div id='mvcwid' style='text-align: left; color: #ffffff;'>
                        <h3 class='wps_visitor_title'>Informasi Pengunjung</h3>
                        <div id="wpsvccount">
                          <div class="wps_text_glowing effect-black">
                            <span>0</span>
                            <span>0</span>
                            <span>0</span>
                            <span>0</span>
                            <span>0</span>
                            <span>5</span>
                          </div>
                        </div>
                        <div id="wpsvctable">
                          <div id="wpsvcvisit" style='text-align: left; color: #ffffff;'>
                            <img src='../wp-content/plugins/wps-visitor-counter/counter/user_today.png'> Users Today : 0
                          </div>
                          <div id="wpsvcmonth" style='text-align: left; color: #ffffff;'>
                            <img src='../wp-content/plugins/wps-visitor-counter/counter/user_month.png'> Users This Month : 3
                          </div>
                          <div id="wpsvctotal" style='text-align: left; color: #ffffff;'>
                            <img src='../wp-content/plugins/wps-visitor-counter/counter/user_total.png'> Total Users : 5
                          </div>
                          <div id="wpsvcviews" style='text-align: left; color: #ffffff;'>
                            <img src='../wp-content/plugins/wps-visitor-counter/counter/views_today.png'> Views Today :
                          </div>
                          <div id="wpsvctotalviews" style='text-align: left; color: #ffffff;'>
                            <img src='../wp-content/plugins/wps-visitor-counter/counter/views_total.png'> Total views : 52
                          </div>
                        </div>
                      </div>
                    </strong>
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>
        <footer class="footer footer-black footer-big">
          <div class="container">
            <div class="content">
              <div class="row">
                <div class="col-md-4">
                  <div id="block-24" class="widget widget_block">
                    <div class="wp-container-1 wp-block-group">
                      <div class="wp-block-group__inner-container">
                        <p>
                          <strong>Jakarta City of Literature Editorial Board</strong>
                        </p>
                        <p>Jakarta City Hall Building <br>Jl. Medan Merdeka Selatan No. 8-9 <br>Central Jakarta - Indonesia </p>
                        <p>cityofliterature@jakarta.go.id</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div id="text-3" class="widget widget_text">
                    <div class="textwidget"></div>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="hestia-bottom-footer-content">
              <ul class="footer-menu pull-left">
                <li class="page_item page-item-265 page_item_has_children">
                  <a href="../about-jakarta/index.html">About Jakarta</a>
                </li>
                <li class="page_item page-item-632 page_item_has_children current_page_item">
                  <a href="index.html" aria-current="page">Contact Us</a>
                </li>
                <li class="page_item page-item-128">
                  <a href="../index.html">Jakarta UNESCO City of Literature</a>
                </li>
              </ul>
              <div class="copyright pull-right"> Hestia | Developed by <a href="https://themeisle.com/" rel="nofollow">ThemeIsle</a>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    
    {% include "parts/bottom.html" %}
  </body>
</html>