<!DOCTYPE html>
<html lang="en-US">
  <head>
    {% include "parts/head.html" %}
  </head>
  <body class="post-template-default single single-post postid-1140 single-format-standard blog-post header-layout-default">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
      <defs>
        <filter id="wp-duotone-dark-grayscale">
          <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
          <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR type="table" tableValues="0 0.49803921568627" />
            <feFuncG type="table" tableValues="0 0.49803921568627" />
            <feFuncB type="table" tableValues="0 0.49803921568627" />
            <feFuncA type="table" tableValues="1 1" />
          </feComponentTransfer>
          <feComposite in2="SourceGraphic" operator="in" />
        </filter>
      </defs>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
      <defs>
        <filter id="wp-duotone-grayscale">
          <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
          <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR type="table" tableValues="0 1" />
            <feFuncG type="table" tableValues="0 1" />
            <feFuncB type="table" tableValues="0 1" />
            <feFuncA type="table" tableValues="1 1" />
          </feComponentTransfer>
          <feComposite in2="SourceGraphic" operator="in" />
        </filter>
      </defs>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
      <defs>
        <filter id="wp-duotone-purple-yellow">
          <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
          <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR type="table" tableValues="0.54901960784314 0.98823529411765" />
            <feFuncG type="table" tableValues="0 1" />
            <feFuncB type="table" tableValues="0.71764705882353 0.25490196078431" />
            <feFuncA type="table" tableValues="1 1" />
          </feComponentTransfer>
          <feComposite in2="SourceGraphic" operator="in" />
        </filter>
      </defs>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
      <defs>
        <filter id="wp-duotone-blue-red">
          <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
          <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR type="table" tableValues="0 1" />
            <feFuncG type="table" tableValues="0 0.27843137254902" />
            <feFuncB type="table" tableValues="0.5921568627451 0.27843137254902" />
            <feFuncA type="table" tableValues="1 1" />
          </feComponentTransfer>
          <feComposite in2="SourceGraphic" operator="in" />
        </filter>
      </defs>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
      <defs>
        <filter id="wp-duotone-midnight">
          <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
          <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR type="table" tableValues="0 0" />
            <feFuncG type="table" tableValues="0 0.64705882352941" />
            <feFuncB type="table" tableValues="0 1" />
            <feFuncA type="table" tableValues="1 1" />
          </feComponentTransfer>
          <feComposite in2="SourceGraphic" operator="in" />
        </filter>
      </defs>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
      <defs>
        <filter id="wp-duotone-magenta-yellow">
          <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
          <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR type="table" tableValues="0.78039215686275 1" />
            <feFuncG type="table" tableValues="0 0.94901960784314" />
            <feFuncB type="table" tableValues="0.35294117647059 0.47058823529412" />
            <feFuncA type="table" tableValues="1 1" />
          </feComponentTransfer>
          <feComposite in2="SourceGraphic" operator="in" />
        </filter>
      </defs>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
      <defs>
        <filter id="wp-duotone-purple-green">
          <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
          <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR type="table" tableValues="0.65098039215686 0.40392156862745" />
            <feFuncG type="table" tableValues="0 1" />
            <feFuncB type="table" tableValues="0.44705882352941 0.4" />
            <feFuncA type="table" tableValues="1 1" />
          </feComponentTransfer>
          <feComposite in2="SourceGraphic" operator="in" />
        </filter>
      </defs>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
      <defs>
        <filter id="wp-duotone-blue-orange">
          <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
          <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR type="table" tableValues="0.098039215686275 1" />
            <feFuncG type="table" tableValues="0 0.66274509803922" />
            <feFuncB type="table" tableValues="0.84705882352941 0.41960784313725" />
            <feFuncA type="table" tableValues="1 1" />
          </feComponentTransfer>
          <feComposite in2="SourceGraphic" operator="in" />
        </filter>
      </defs>
    </svg>
    <div class="wrapper post-1140 post type-post status-publish format-standard has-post-thumbnail hentry category-14 category-jakarta-events category-program default ">
      <header class="header ">
        <div style="display: none"></div>
        <nav class="navbar navbar-default navbar-fixed-top  hestia_left navbar-not-transparent">
          <div class="container">
            <div class="navbar-header">
              <div class="title-logo-wrapper">
                <a class="navbar-brand" href="../index.html" title="">
                  <p></p>
                </a>
              </div>
              <div class="navbar-toggle-wrapper">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="sr-only">Toggle Navigation</span>
                </button>
              </div>
            </div>
            <div id="main-navigation" class="collapse navbar-collapse">
              <ul id="menu-menu-1" class="nav navbar-nav">
                <li id="menu-item-605" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-605">
                  <a title="HOME" href="../index.html">HOME</a>
                </li>
                <li id="menu-item-8" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-8 dropdown">
                  <a title="ABOUT US" href="#" class="dropdown-toggle">ABOUT US <span class="caret-wrap">
                      <span class="caret">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                          <path d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path>
                        </svg>
                      </span>
                    </span>
                  </a>
                  <ul role="menu" class="dropdown-menu">
                    <li id="menu-item-1176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1176">
                      <a title="Jakarta UNESCO City of Literature" href="../about-us/jakarta-unesco-city-of-literature/index.html">Jakarta UNESCO City of Literature</a>
                    </li>
                    <li id="menu-item-1175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1175">
                      <a title="Contact" href="../about-us/contact/index.html">Contact</a>
                    </li>
                  </ul>
                </li>
                <li id="menu-item-9" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-9 dropdown">
                  <a title="ABOUT JAKARTA" href="#" class="dropdown-toggle">ABOUT JAKARTA <span class="caret-wrap">
                      <span class="caret">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                          <path d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path>
                        </svg>
                      </span>
                    </span>
                  </a>
                  <ul role="menu" class="dropdown-menu">
                    <li id="menu-item-481" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-481">
                      <a title="History" href="../about-jakarta/history/index.html">History</a>
                    </li>
                    <li id="menu-item-485" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-485">
                      <a title="Libraries" href="../about-jakarta/libraries/index.html">Libraries</a>
                    </li>
                    <li id="menu-item-473" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-473">
                      <a title="Literary Communities" href="../about-jakarta/literary-communities/index.html">Literary Communities</a>
                    </li>
                    <li id="menu-item-469" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-469">
                      <a title="Creative Centers" href="../about-jakarta/creative-centers/index.html">Creative Centers</a>
                    </li>
                    <li id="menu-item-477" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-477">
                      <a title="Cultural Centers" href="../about-jakarta/cultural-center/index.html">Cultural Centers</a>
                    </li>
                  </ul>
                </li>
                <li id="menu-item-10" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10 dropdown">
                  <a title="PROGRAM" href="#" class="dropdown-toggle">PROGRAM <span class="caret-wrap">
                      <span class="caret">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                          <path d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path>
                        </svg>
                      </span>
                    </span>
                  </a>
                  <ul role="menu" class="dropdown-menu">
                    <li id="menu-item-280" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-280">
                      <a title="Program" href="../category/program/index.html">Program</a>
                    </li>
                    <li id="menu-item-497" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-497">
                      <a title="Other CoL Program" href="../category/other-col-program/index.html">Other CoL Program</a>
                    </li>
                    <li id="menu-item-304" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-304">
                      <a title="Writers" href="../category/writers/index.html">Writers</a>
                    </li>
                  </ul>
                </li>
                <li id="menu-item-130" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-130 dropdown">
                  <a title="CALENDER OF EVENTS" href="#" class="dropdown-toggle">CALENDER OF EVENTS <span class="caret-wrap">
                      <span class="caret">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                          <path d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path>
                        </svg>
                      </span>
                    </span>
                  </a>
                  <ul role="menu" class="dropdown-menu">
                    <li id="menu-item-292" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-292">
                      <a title="Jakarta Events" href="../category/jakarta-events/index.html">Jakarta Events</a>
                    </li>
                    <li id="menu-item-284" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-284">
                      <a title="Indonesia Events" href="../category/indonesia-events/index.html">Indonesia Events</a>
                    </li>
                    <li id="menu-item-288" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-288">
                      <a title="International Events" href="../category/international-events/index.html">International Events</a>
                    </li>
                  </ul>
                </li>
                <li id="menu-item-131" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-131 dropdown">
                  <a title="LINKS" href="#" class="dropdown-toggle">LINKS <span class="caret-wrap">
                      <span class="caret">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                          <path d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path>
                        </svg>
                      </span>
                    </span>
                  </a>
                  <ul role="menu" class="dropdown-menu">
                    <li id="menu-item-1174" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1174">
                      <a title="Partners" href="../links/partners/index.html">Partners</a>
                    </li>
                    <li id="menu-item-1173" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1173">
                      <a title="Links about UNESCO Creative Cities" href="../links/links-about-unesco-creative-cities/index.html">Links about UNESCO Creative Cities</a>
                    </li>
                  </ul>
                </li>
                <li id="menu-item-132" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-132 dropdown">
                  <a title="ARCHIVE" href="#" class="dropdown-toggle">ARCHIVE <span class="caret-wrap">
                      <span class="caret">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                          <path d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path>
                        </svg>
                      </span>
                    </span>
                  </a>
                  <ul role="menu" class="dropdown-menu">
                    <li id="menu-item-276" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-276">
                      <a title="2022" href="../category/2022/index.html">2022</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <div id="primary" class="boxed-layout-header page-header header-small" data-parallax="active">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h1 class="hestia-title entry-title">Archives Exhibition “Gunung Api Jassin, Lahar Panas Chairil: Dari Dokumentasi H.B. Jassin”</h1>
              <h4 class="author">Published by <a href="../author/faiz/index.html" class="vcard author">
                  <strong class="fn">admin</strong>
                </a> on <time class="entry-date published" datetime="2022-07-15T13:24:36+07:00" content="2022-07-15">July 15, 2022</time>
                <time class="updated hestia-hidden" datetime="2022-07-15T13:25:35+07:00">July 15, 2022</time>
              </h4>
            </div>
          </div>
        </div>
        <div class="header-filter" style="background-image: url(../wp-content/uploads/2022/07/DSC01244-scaled.jpg);"></div>
      </div>
      <div class="main  main-raised ">
        <div class="blog-post blog-post-wrapper">
          <div class="container">
            <article id="post-1140" class="section section-text">
              <div class="row">
                <div class="col-md-8 single-post-container" data-layout="sidebar-right">
                  <div class="single-post-wrap entry-content">
                    <figure class="wp-block-image size-large is-resized">
                      <img src="../wp-content/uploads/2022/07/DSC01244-1024x680.jpg" alt="" class="wp-image-1141" width="512" height="340" srcset="http://10.15.43.75/cityofliterature/wp-content/uploads/2022/07/DSC01244-1024x680.jpg 1024w, http://10.15.43.75/cityofliterature/wp-content/uploads/2022/07/DSC01244-300x199.jpg 300w, http://10.15.43.75/cityofliterature/wp-content/uploads/2022/07/DSC01244-768x510.jpg 768w, http://10.15.43.75/cityofliterature/wp-content/uploads/2022/07/DSC01244-1536x1021.jpg 1536w, http://10.15.43.75/cityofliterature/wp-content/uploads/2022/07/DSC01244-2048x1361.jpg 2048w, http://10.15.43.75/cityofliterature/wp-content/uploads/2022/07/DSC01244-360x240.jpg 360w" sizes="(max-width: 512px) 100vw, 512px" />
                      <figcaption>Mural of H.B. Jassin and Chairil Anwar / source: Dispusip DKI Jakarta</figcaption>
                    </figure>
                    <p>“Gunung Api Jassin, Lahar Panas Chairil” (Jassin Volcano and Chailir Hot Lava) is a literature exhibition raised about Chairil Anwar and H.B. Jassin sourced from the collections of H.B. Jassin Literature Documentation Center. The exhibition will be curated by Hasan Aspahani and Esha Tegar Putra and will be held from July 11 to August 11, 2022, placed in H.B. Jassin LDC Gallery, Ismail Marzuki Park.</p>
                    <figure class="wp-container-2 wp-block-gallery-1 wp-block-gallery has-nested-images columns-default is-cropped">
                      <figure class="wp-block-image size-large">
                        <img loading="lazy" width="1024" height="680" data-id="1142" src="../wp-content/uploads/2022/07/DSC01261-1024x680.jpg" alt="" class="wp-image-1142" srcset="http://10.15.43.75/cityofliterature/wp-content/uploads/2022/07/DSC01261-1024x680.jpg 1024w, http://10.15.43.75/cityofliterature/wp-content/uploads/2022/07/DSC01261-300x199.jpg 300w, http://10.15.43.75/cityofliterature/wp-content/uploads/2022/07/DSC01261-768x510.jpg 768w, http://10.15.43.75/cityofliterature/wp-content/uploads/2022/07/DSC01261-1536x1021.jpg 1536w, http://10.15.43.75/cityofliterature/wp-content/uploads/2022/07/DSC01261-2048x1361.jpg 2048w, http://10.15.43.75/cityofliterature/wp-content/uploads/2022/07/DSC01261-360x240.jpg 360w" sizes="(max-width: 1024px) 100vw, 1024px" />
                      </figure>
                      <figure class="wp-block-image size-large">
                        <img loading="lazy" width="1024" height="680" data-id="1143" src="../wp-content/uploads/2022/07/DSC01232-1024x680.jpg" alt="" class="wp-image-1143" srcset="http://10.15.43.75/cityofliterature/wp-content/uploads/2022/07/DSC01232-1024x680.jpg 1024w, http://10.15.43.75/cityofliterature/wp-content/uploads/2022/07/DSC01232-300x199.jpg 300w, http://10.15.43.75/cityofliterature/wp-content/uploads/2022/07/DSC01232-768x510.jpg 768w, http://10.15.43.75/cityofliterature/wp-content/uploads/2022/07/DSC01232-1536x1021.jpg 1536w, http://10.15.43.75/cityofliterature/wp-content/uploads/2022/07/DSC01232-2048x1361.jpg 2048w, http://10.15.43.75/cityofliterature/wp-content/uploads/2022/07/DSC01232-360x240.jpg 360w" sizes="(max-width: 1024px) 100vw, 1024px" />
                      </figure>
                      <figure class="wp-block-image size-large">
                        <img loading="lazy" width="1024" height="680" data-id="1144" src="../wp-content/uploads/2022/07/DSC01264-1024x680.jpg" alt="" class="wp-image-1144" srcset="http://10.15.43.75/cityofliterature/wp-content/uploads/2022/07/DSC01264-1024x680.jpg 1024w, http://10.15.43.75/cityofliterature/wp-content/uploads/2022/07/DSC01264-300x199.jpg 300w, http://10.15.43.75/cityofliterature/wp-content/uploads/2022/07/DSC01264-768x510.jpg 768w, http://10.15.43.75/cityofliterature/wp-content/uploads/2022/07/DSC01264-1536x1021.jpg 1536w, http://10.15.43.75/cityofliterature/wp-content/uploads/2022/07/DSC01264-2048x1361.jpg 2048w, http://10.15.43.75/cityofliterature/wp-content/uploads/2022/07/DSC01264-360x240.jpg 360w" sizes="(max-width: 1024px) 100vw, 1024px" />
                      </figure>
                    </figure>
                    <p class="has-small-font-size">courtesy: Dispusip DKI Jakarta</p>
                  </div>
                  <div class="section section-blog-info">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="entry-categories">Categories: <span class="label label-primary">
                            <a href="../category/2022/index.html">2022</a>
                          </span>
                          <span class="label label-primary">
                            <a href="../category/jakarta-events/index.html">Jakarta Events</a>
                          </span>
                          <span class="label label-primary">
                            <a href="../category/program/index.html">Program</a>
                          </span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="entry-social">
                          <a target="_blank" rel="tooltip" data-original-title="Share on Facebook" class="btn btn-just-icon btn-round btn-facebook" href="https://www.facebook.com/sharer.php?u=http://10.15.43.75/cityofliterature/archives-exhibition-gunung-api-jassin-lahar-panas-chairil-dari-dokumentasi-h-b-jassin/">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="20" height="17">
                              <path fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"></path>
                            </svg>
                          </a>
                          <a target="_blank" rel="tooltip" data-original-title="Share on Twitter" class="btn btn-just-icon btn-round btn-twitter" href="http://twitter.com/share?url=http://10.15.43.75/cityofliterature/archives-exhibition-gunung-api-jassin-lahar-panas-chairil-dari-dokumentasi-h-b-jassin/&amp;text=Archives%20Exhibition%20%E2%80%9CGunung%20Api%20Jassin%2C%20Lahar%20Panas%20Chairil%3A%20Dari%20Dokumentasi%20H.B.%20Jassin%E2%80%9D">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="17">
                              <path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path>
                            </svg>
                          </a>
                          <a rel="tooltip" data-original-title=" Share on Email" class="btn btn-just-icon btn-round" href="mailto:?subject=Archives%20Exhibition%20“Gunung%20Api%20Jassin,%20Lahar%20Panas%20Chairil:%20Dari%20Dokumentasi%20H.B.%20Jassin”&#038;body=http://10.15.43.75/cityofliterature/archives-exhibition-gunung-api-jassin-lahar-panas-chairil-dari-dokumentasi-h-b-jassin/">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="17">
                              <path fill="currentColor" d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"></path>
                            </svg>
                          </a>
                        </div>
                      </div>
                    </div>
                    <hr>
                  </div>
                </div>
                <div class="col-md-3 blog-sidebar-wrapper col-md-offset-1">
                  <aside id="secondary" class="blog-sidebar" role="complementary">
                    <div id="block-2" class="widget widget_block widget_search">
                      <form role="search" method="get" action="http://10.15.43.75/cityofliterature/" class="wp-block-search__button-outside wp-block-search__text-button wp-block-search">
                        <label for="wp-block-search__input-1" class="wp-block-search__label">Search</label>
                        <div class="wp-block-search__inside-wrapper ">
                          <input type="search" id="wp-block-search__input-1" class="wp-block-search__input " name="s" value="" placeholder="" required />
                          <button type="submit" class="wp-block-search__button  ">Search</button>
                        </div>
                      </form>
                    </div>
                    <div id="block-3" class="widget widget_block">
                      <div class="wp-container-3 wp-block-group">
                        <div class="wp-block-group__inner-container">
                          <h2>Recent Posts</h2>
                          <ul class="wp-block-latest-posts__list wp-block-latest-posts">
                            <li>
                              <a class="wp-block-latest-posts__post-title" href="../remy-sylado-23761-introducing-remy-sylados-journey-in-an-exhibition/index.html">Remy Sylado, 23761: Introducing Remy Sylado&#8217;s Journey In an Exhibition</a>
                            </li>
                            <li>
                              <a class="wp-block-latest-posts__post-title" href="../lets-join-and-create-a-new-reading-experience-by-joining-baca-jakarta-2023/index.html">Let&#8217;s Create a New Reading Experience by Joining Baca Jakarta Challenge 2023</a>
                            </li>
                            <li>
                              <a class="wp-block-latest-posts__post-title" href="../ketupat-betawi-at-al-muddatsiriyah-islamic-elementary-school/index.html">&#8220;KETUPAT BETAWI&#8221; at Al-Muddatsiriyah Islamic Elementary School</a>
                            </li>
                            <li>
                              <a class="wp-block-latest-posts__post-title" href="../literacy-tour-to-the-tanjung-duren-library-west-jakarta/index.html">Literacy Tour to the Tanjung Duren Library, West Jakarta</a>
                            </li>
                            <li>
                              <a class="wp-block-latest-posts__post-title" href="../80-paticipants-join-the-jakarta-city-of-literature-city-tour/index.html">80 Participants join the &#8220;Jakarta City of Literature&#8221; City Tour</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div id="block-4" class="widget widget_block">
                      <div class="wp-container-4 wp-block-group">
                        <div class="wp-block-group__inner-container"></div>
                      </div>
                    </div>
                    <div id="block-5" class="widget widget_block">
                      <div class="wp-container-5 wp-block-group">
                        <div class="wp-block-group__inner-container">
                          <h2>Archives</h2>
                          <ul class=" wp-block-archives-list wp-block-archives">
                            <li>
                              <a href='../2023/03/index.html'>March 2023</a>
                            </li>
                            <li>
                              <a href='../2023/02/index.html'>February 2023</a>
                            </li>
                            <li>
                              <a href='../2023/01/index.html'>January 2023</a>
                            </li>
                            <li>
                              <a href='../2022/09/index.html'>September 2022</a>
                            </li>
                            <li>
                              <a href='../2022/08/index.html'>August 2022</a>
                            </li>
                            <li>
                              <a href='../2022/07/index.html'>July 2022</a>
                            </li>
                            <li>
                              <a href='../2022/06/index.html'>June 2022</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div id="block-6" class="widget widget_block">
                      <div class="wp-container-6 wp-block-group">
                        <div class="wp-block-group__inner-container"></div>
                      </div>
                    </div>
                  </aside>
                  <!-- .sidebar .widget-area -->
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="section related-posts">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="hestia-title text-center">Related Posts</h2>
              <div class="row">
                <div class="col-md-4">
                  <div class="card card-blog">
                    <div class="card-image">
                      <a href="../remy-sylado-23761-introducing-remy-sylados-journey-in-an-exhibition/index.html" title="Remy Sylado, 23761: Introducing Remy Sylado&#8217;s Journey In an Exhibition">
                        <img width="360" height="240" src="../wp-content/uploads/2023/03/Snapinsta.app_336182091_123993487173777_201282302193722377_n_1080-360x240.jpg" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="" loading="lazy" />
                      </a>
                    </div>
                    <div class="content">
                      <h6 class="category text-info">
                        <a href="../category/2023/index.html" title="View all posts in 2023">2023</a>
                      </h6>
                      <h4 class="card-title">
                        <a class="blog-item-title-link" href="../remy-sylado-23761-introducing-remy-sylados-journey-in-an-exhibition/index.html" title="Remy Sylado, 23761: Introducing Remy Sylado&#8217;s Journey In an Exhibition" rel="bookmark"> Remy Sylado, 23761: Introducing Remy Sylado&#8217;s Journey In an Exhibition </a>
                      </h4>
                      <p class="card-description">To get closer to Remy Sylado&#8217;s works and creative journey, Jakarta Cikini Library and PDS HB Jassin present an exhibition entitled Remy Sylado, 23761 which was held on March 17, 2023. Remy Sylado is an <a class="moretag" href="../remy-sylado-23761-introducing-remy-sylados-journey-in-an-exhibition/index.html"> Read more&hellip;</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card card-blog">
                    <div class="card-image">
                      <a href="../lets-join-and-create-a-new-reading-experience-by-joining-baca-jakarta-2023/index.html" title="Let&#8217;s Create a New Reading Experience by Joining Baca Jakarta Challenge 2023">
                        <img width="360" height="240" src="../wp-content/uploads/2023/02/bajak-cover-360x240.png" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="" loading="lazy" />
                      </a>
                    </div>
                    <div class="content">
                      <h6 class="category text-info">
                        <a href="../category/2023/index.html" title="View all posts in 2023">2023</a>
                      </h6>
                      <h4 class="card-title">
                        <a class="blog-item-title-link" href="../lets-join-and-create-a-new-reading-experience-by-joining-baca-jakarta-2023/index.html" title="Let&#8217;s Create a New Reading Experience by Joining Baca Jakarta Challenge 2023" rel="bookmark"> Let&#8217;s Create a New Reading Experience by Joining Baca Jakarta Challenge 2023 </a>
                      </h4>
                      <p class="card-description">Let’s Join! Baca Jakarta Challenge 2023 Baca Jakarta Challenge 2023 is now open for participants. The challenge will be held for 14 days from 5 to 18 February 2023 and open for all ages, both <a class="moretag" href="../lets-join-and-create-a-new-reading-experience-by-joining-baca-jakarta-2023/index.html"> Read more&hellip;</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card card-blog">
                    <div class="card-image">
                      <a href="../ketupat-betawi-at-al-muddatsiriyah-islamic-elementary-school/index.html" title="&#8220;KETUPAT BETAWI&#8221; at Al-Muddatsiriyah Islamic Elementary School">
                        <img width="360" height="240" src="../wp-content/uploads/2023/02/328061121_1328376594666998_7014282175489228920_n-edited-360x240.jpg" class="attachment-hestia-blog size-hestia-blog wp-post-image" alt="" loading="lazy" />
                      </a>
                    </div>
                    <div class="content">
                      <h6 class="category text-info">
                        <a href="../category/2023/index.html" title="View all posts in 2023">2023</a>
                      </h6>
                      <h4 class="card-title">
                        <a class="blog-item-title-link" href="../ketupat-betawi-at-al-muddatsiriyah-islamic-elementary-school/index.html" title="&#8220;KETUPAT BETAWI&#8221; at Al-Muddatsiriyah Islamic Elementary School" rel="bookmark"> &#8220;KETUPAT BETAWI&#8221; at Al-Muddatsiriyah Islamic Elementary School </a>
                      </h4>
                      <p class="card-description">Ketupat Betawi is a library-introduction event for schools in Central Jakarta is a regular program from North Jakarta’s Library and Archive Sub-Office since 2022. The event’s name comes from the acronym of “Ketemu Pemustaka Bersama <a class="moretag" href="../ketupat-betawi-at-al-muddatsiriyah-islamic-elementary-school/index.html"> Read more&hellip;</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-wrapper">
        <footer class="footer footer-black footer-big">
          <div class="container">
            <div class="content">
              <div class="row">
                <div class="col-md-4">
                  <div id="block-24" class="widget widget_block">
                    <div class="wp-container-7 wp-block-group">
                      <div class="wp-block-group__inner-container">
                        <p>
                          <strong>Jakarta City of Literature Editorial Board</strong>
                        </p>
                        <p>Jakarta City Hall Building <br>Jl. Medan Merdeka Selatan No. 8-9 <br>Central Jakarta - Indonesia </p>
                        <p>cityofliterature@jakarta.go.id</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div id="text-3" class="widget widget_text">
                    <div class="textwidget"></div>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="hestia-bottom-footer-content">
              <ul class="footer-menu pull-left">
                <li class="page_item page-item-265 page_item_has_children">
                  <a href="../about-jakarta/index.html">About Jakarta</a>
                </li>
                <li class="page_item page-item-632 page_item_has_children">
                  <a href="../about-us/index.html">Contact Us</a>
                </li>
                <li class="page_item page-item-128">
                  <a href="../index.html">Jakarta UNESCO City of Literature</a>
                </li>
              </ul>
              <div class="copyright pull-right"> Hestia | Developed by <a href="https://themeisle.com/" rel="nofollow">ThemeIsle</a>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>

    {% include "parts/bottom.html" %}
  </body>
</html>